# Folder/all
data/
output/
node_modules/
z_*/

**/arch/
**/academic/
**/test*
**/test/
**/*~

scripts/mdenoise
09_d3/*.svg
09_d3/img

# Files (globes)
*~
*.zip
*.rar
*.shp
*.shx
*.dbf
*.prj
*.tif
*.tiff
*.sql
*.pdf
*.sbn
*.sbx
*.tsv
*.csv
*.gif
#*.png
*.jpg
*.geo.json
#*.topo.json
#*.html
*_.html
#*.svg
*.b64
*.cpg

# Root
*.README.html
*.VERSION.txt


