# Folder/all
data/
node_modules/
output/
files/
**/arch/
**/academic/
**/test*
**/test/
**/*~
temp/
09_d3/*.svg

# Files (globes)
*~
*.zip
*.rar
*.shp
*.shx
*.dbf
*.prj
*.tif
*.tiff
*.sql
*.pdf
*.sbn
*.sbx
*.tsv
*.csv
*.gif
#*.png
*.jpg
*.geo.json
#*.topo.json
#*.html
*_.html
#*.svg
*.b64
*.cpg

# Root
*.README.html
*.VERSION.txt



